@using Prueba_Desarrollo_Deadlock.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<PruebaDesarrolloDeadlockCore.Models.Empleado>

@{ MensajesViewModel mensaje = new MensajesViewModel();

    if (TempData["mensaje"] != null)
    {
        mensaje = TempData.Get<MensajesViewModel>("mensaje");

    }
    var num = 1; }


@section Style
{
    <!-- BEGIN: VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/flag-icon/css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/pages/data-tables.css">

    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/data-tables/css/select.dataTables.min.css">
    <!-- END: VENDOR CSS-->
    <!-- BEGIN: Page Level CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/custom/custom.css">
    <!-- END: Custom CSS-->
    @*<link href="~/lib/toastr.js/toastr.css" rel="stylesheet" />*@
    @*<link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />*@
    <link href="~/lib/jquery-confirm/dist/jquery-confirm.min.css" rel="stylesheet" />

}




@*usuarios*@
@* RAZOR *@
<!-- Page Length Options -->
<div class="12"></div>
<div class="section section-data-tables ">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">

                        <div class="col s4 ">


                            <a class="teal mb-1 btn-small waves-effect waves-light " data-position="top" asp-area="SeguimientoDeUniversidades" asp-controller="SeguimientoDeUniversida" asp-action="AgregarComentario">
                                <i class="material-icons">add</i>
                                Nuevo
                            </a>



                        </div>

                        <div class="col s4 ">
                            <h5 class="center">Nombre de la universidad</h5>

                        </div>


                    </div>
                    <div class="col s12 ">

                        <div class="row">
                            <div class="grid-example col s12" style="margin:0px;"><span class="flow-text"></span></div>
                        </div>
                        <br />

                        <div class="row">
                            <div class="col s12">
                               @* @await Component.InvokeAsync("ComentariosComponent")*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
@* END MODAL *@

@* END RAZOR *@

@section Scripts
{
    <!-- BEGIN VENDOR JS-->
    <script src="~/app-assets/js/vendors.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="~/app-assets/vendors/data-tables/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/data-tables/js/dataTables.select.min.js" type="text/javascript"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN THEME  JS-->
    <script src="~/app-assets/js/plugins.js" type="text/javascript"></script>
    <script src="~/app-assets/js/custom/custom-script.js" type="text/javascript"></script>
    <!-- END THEME  JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/app-assets/js/scripts/data-tables.js" type="text/javascript"></script>
    <script src="~/app-assets/js/scripts/extra-components-sweetalert.js" type="text/javascript"></script>
    <script src="~/lib/jquery-confirm/dist/jquery-confirm.min.js"></script>
    @*<script src="~/lib/toastr.js/toastr.min.js"></script>
        <script src="~/app-assets/js/toastr.init.js" type="text/javascript"></script>*@

    <script src="/app-assets/js/scripts/advance-ui-modals.js"></script>


    <script>





        //$(document).ready(function() {
        //    $('.tooltipped').tooltip();

        //});

        if ("@mensaje.Tipo".length > 0) {
            $.confirm({
                title: '@mensaje.Titulo',
                content: '@mensaje.Texto',
                type: '@mensaje.Tipo',
                typeAnimated: true,
                boxWidth: '500px',
                autoClose: 'cerrar|9000',
                useBootstrap: false,
                buttons: {
                    cerrar:{
                        text: "Cerrar",
                        action: function () { }
                    }
                },
                onClose: function () {
                    // before the modal is hidden.
                    $.ajax({
                        type: 'get',
                        url: '/home/ClearTempData',
                        success: function() {

                        }
                    });
                }
            });

        }




    </script>

}